:root {
    --color-neutral-900: #12131A;
    --color-neutral-800: #21222C;
    --color-neutral-700: #2A2B37;
    --color-neutral-600: #404254;
    --color-neutral-200: #E4E4EF;
    --color-neutral-100: #F2F2F7;
    --color-neutral-0: #FFFFFF;

    --color-purple-500: #C27CF8;
    --color-purple-400: #D3A0FA;

    --color-yellow-500: #FF9F00;

    --color-orange-800: #DA3701;
    --color-orange-500: #FE8159;

}


@font-face {
    font-family: "DM Sans";
    src: url('./../fonts/DM_Sans/static/DMSans-Regular.ttf');
    font-optical-sizing: auto;
}

@font-face {
    font-family: "DM Sans Bold";
    src: url('./../fonts/DM_Sans/static/DMSans-Bold.ttf');
    font-optical-sizing: auto;
    font-weight: bold;
}

@font-face {
    font-family: "DM Sans SemiBold";
    src: url('./../fonts/DM_Sans/static/DMSans-Regular.ttf');
    font-optical-sizing: auto;
}


.text-preset-1 {
    font-family: "DM Sans Bold";
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
}

.text-preset-1m {
    font-family: "DM Sans Bold";
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .text-preset-1m {
        font-size: 64px;
    }
}

.text-preset-2 {
    font-family: "DM Sans SemiBold";
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-preset-3 {
    font-family: "DM Sans";
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
}

.text-preset-4 {
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
}


.smsans_regular {
    font-family: "DM Sans";
}

.smsans_bold {
    font-family: "DM Sans Bold";
}

.smsans_semibold {
    font-family: "DM Sans SemiBold";
}

.dark_bg {
    background-image: url('./../images/bg-dark-theme.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light_bg {
    background-image: url('./../images/bg-light-theme.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}